.masthead
  %h3.muted Title Tool
  .navbar
    .navbar-inner
      .container
        %ul.nav
          %li.active
            %a{:href => "#"} Home
          %li
            %a{:href => "#"} Projects
          %li
            %a{:href => "#"} Services
          %li
            %a{:href => "#"} Downloads
          %li
            %a{:href => "#"} About
          %li
            %a{:href => "#"} Contact